@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
}



.page-header {
  height: 70px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 img {
  height: 70px;
}

.main-nav {
  display: flex;
  line-height: 70px;
}

.main-nav li {
  font-size: 16px;
  margin: 0 30px;
  color: #fafafa;
  list-style: none;
}



main {
  width: 100%;
  height: 650px;
  /* 仮 */
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.portfolio {
  background-color: #eceff1;

  /* 仮 */
  height: 900px;
}

.page-portfolio {
  max-width: 920px;
  margin: 0 auto;
}